body {
  background: #fafafa;
  text-align: center;
  color: #555555;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

.wrapper {
  margin: 0 auto;
  padding: 15px;
  max-width: 700px;
  text-align: left;
}

blockquote {
  margin: 0;
  padding: 4px 24px;
  font-style: italic;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0,0,0,.15);
  background-color: rgb(237, 245, 249);

  span {
    font-style: normal;
  }

}

a {
  color: #0077aa;
  text-decoration: underline;
}

a:link,
a:visited {
}

a:hover,
a:active {
  background: #0077aa;
  color: #fafafa;
  text-decoration: none;
}

// these only work if they're separate
::selection {
    background: #e0e0e0;
}
::-moz-selection {
    background: #e0e0e0;
}

header {
  margin: 50px 0;
  border-bottom: 1px solid #dddddd;

  h1 {

    a {
      &:link,
      &:visited,
      &:hover,
      &:active {
        background: none;
        color: #555555;
        text-decoration: none;
      }

    }

  }

  nav {

    ul {
      padding: 0;

      li {
        display: inline-block;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

      }

    }

  }
}


footer {
  margin: 50px 0;
  padding: 15px 0;
  border-top: 1px solid #dddddd;
  font-size: 75%;
}
