<!doctype html>
<html lang="en">
  <head>
    <!-- voodoo -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- redirect -->
    {% if redirect %}
      <meta http-equiv="refresh" content="0;url={{ redirect }}" />
    {% endif %}

    <!-- basic meta -->
    <title>SoCal Python | {% if title %}{{ title }}{% elif redirect %}Redirecting{% else %}The official site of the Los Angeles Python programming language community.{% endif %}</title>
    <meta name="description" content="The official site of the Los Angeles Python programming language community.">

    <!-- OG -->
    <meta property="og:title" content="SoCal Python | {% if title %}{{ title }}{% elif redirect %}Redirecting{% else %}The official site of the Los Angeles Python programming language community.{% endif %}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://socalpython.org/{{ path }}">
    <meta property="og:description" content="The official site of the Los Angeles Python programming language community.">
    <meta property="og:image" content="https://socalpython.org/assets/img/socalpython-highres.jpg">
    <meta property="og:image:width" content="792">
    <meta property="og:image:height" content="612">

    <!-- Mastodon verification -->
    <link href="https://fosstodon.org/@socalpython" rel="me">

    <!-- assets -->
    <link rel="shortcut icon" href="/assets/img/snake64.png">
    <link rel="apple-touch-icon" href="/assets/img/snake144.png">
    <link rel="stylesheet" type="text/css" href="/assets/style/style.css">

    <!-- Plausible Analytics -->
    <script defer data-domain="socalpython.org" src="/js/script.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">SoCal Python</a></h1>
        <nav>
          <ul>
            <li ><a href="/">Home</a></li>
            <li ><a href="/about">About</a></li>
            <li ><a href="/speaking">Speaking</a></li>
            <li ><a href="/sponsorship">Sponsorship</a></li>
            <li ><a href="/conduct">Code of Conduct</a></li>
            <li ><a href="/meetup">Meetup</a></li>
            <li ><a href="/slack">Slack</a></li>
            <li ><a href="/github">GitHub</a></li>
            <li ><a href="/twitter">Twitter</a></li>
          </ul>
        </nav>
      </header>
      <section>
        {% if redirect %}
          <p>Redirecting to: <a href="{{ redirect }}">{{ redirect }}</a></p>
        {% else %}
          {% if title %}
            <h1>{{ title }}</h1>
          {% endif %}
          {{ content }}
        {% endif %}
      </section>
      <footer>&copy; <a href="/">SoCal Python</a> 🐍</footer>
    </div>
  </body>
</html>
