<!doctype html>
<html lang="en">
  <head>

    <!-- voodoo -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <!-- basic meta -->
    <title>{% if this.title %}{{ this.title }} - {% endif %}SoCal Python</title>
    <meta name="description" content="SoCal Python Meetup" />

    <!-- OG -->
    <meta property="og:title" content="{% if this.title %}{{ this.title }} - {% endif %}SoCal Python">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{ this._path|url }}">
    <meta property="og:description" content="SoCal Python Meetup">
    <meta property="og:image" content="{{ '/static/img/socalpython-highres.jpg'|asseturl }}">
    <meta property="og:image:width" content="792">
    <meta property="og:image:height" content="612">

    <!-- assets -->
    <link rel="shortcut icon" href="{{ '/static/img/snake64.png'|asseturl }}" />
    <link rel="apple-touch-icon" href="{{ '/static/img/snake144.png'|asseturl }}" />
    <link rel="stylesheet" type="text/css" href="{{ '/static/style/style.css'|asseturl }}">

  </head>

  <body>

    <div class="wrapper">

      <header>
        <h1><a href="{{ '/'|url }}">SoCal Python</a></h1>
        <nav>
          <ul>
            {% for href, title in [
              ['/', 'Home'],
              ['/about'|url, 'About'],
              ['/speaking'|url, 'Speaking'],
              ['/sponsorship'|url, 'Sponsorship'],
              ['/code-of-conduct'|url, 'Code of Conduct'],
              ['https://www.meetup.com/socalpython/', 'Meetup'],
              ['https://socalpython.slack.com', 'Slack'],
              ['https://github.com/socalpython', 'GitHub'],
              ['https://twitter.com/socalpython', 'Twitter'],
            ] %}
              <li {% if this.is_child_of(href) %}class="active"{% endif %}><a href="{{ href }}">{{ title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      </header>

      <section>
        {% block body %}{% endblock %}
      </section>

      <footer>&copy; Copyright 2017 <a href="{{ '/'|url }}">SoCal Python</a></footer>

    </div>

  </body>
</html>
